*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculadora{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
}
.primeralinea{
    display: flex;
    flex-direction: column;
}