:root {
    /* COLORES */
    --color_primario: #ff6600;
    --color_secundario: #252525;
    --color_negro: #000;
    --color_blanco: #fff;
    /* TAMAÑOS */
    --ancho_maximo: 1100px;
    --padding_izquierda_derecha: 20px;
    --padding_arriba_abajo: 100px;
    --altura_header: 60px;
    /* TAMAÑOS DE FUENTE */
    --titulo_h1: clamp(1rem, 7vw, 2.6rem);
    --titulos_h2: clamp(1.2rem, 5.6vw, 2rem);
    --subtitulo_seccion_principal: clamp(1.1rem, 4vw, 2rem);
    --parrafo_seccion_principal: clamp(0.6rem, 2.3vw, 1.1rem);
    --parrafo_secciones: clamp(1.2rem, 2.5vw, 1.4rem);
}
/* Son los cambios que se le aplicana  toda la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sirve para eliminar estilos de listas predeterminados */
ul,
ol {
    list-style: none;
}
/* Para quitar decoraciones predetermiandas */
a {
    text-decoration: none;
}
/* Sirve para generar un desplazamiento suave y mejorar la experiencia de usuario, tambien para coger el 100% del tamaño disponible */
html {
    height: 100%;
    scroll-behavior: smooth;
}
/* Definimos el tipo de letra gracais a la libreria importada, le colocamos minimo y el fondo del body como negro */
body {
    font-family: "Raleway", sans-serif;
    min-height: 100%;
    background-color: var(--color_negro);
}
.container_1{
    display:flex;
    justify-content: center;
    align-items: center;
}