<section class="new-user-section">
    <h2>Nuevo Usuario</h2>
    <form id="new-user-form" action="sumbit" method="post">
        <label>Name</label>
        <input type="text" id="name">
        <label>Email</label>
        <input type="text" id="email">
        <label>Phone</label>
        <input type="text" id="phone">
        <label>enrollNumber</label>
        <input type="text" id="enrollNumber">
        <label>dateOfAdmission</label>
        <input type="text" id="dateOfAdmission">
        <label>Role</label>
        <select id="userRole">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <label>Password</label>
        <input type="password" id="password">
        <label>Confirm Password</label>
        <input type="password" id="confirmPassword">
        <button type="submit">Agregar Usuario</button>

    </form>
</section>