<section>
    <h2>Actualizar Usuario</h2>
    <form id="update-user-form">
        <label>Name</label>
        <input type="text" id="nameUP">
        <label>Email</label>
        <input type="text" id="emailUP">
        <label>Phone</label>
        <input type="text" id="phoneUP">
        <label>enrollNumber</label>
        <input type="text" id="enrollNumberUP">
        <label>dateOfAdmission</label>
        <input type="text" id="dateOfAdmissionUP">
        <button type="submit">Actualizar</button>
    </form>
</section>